{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse">
	<div class="container">
			<a class="navbar-brand" href="/">Flasky</a>
		<div class="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello {%if name %}{{ name }}{% else %}Stranger{% endif %} </h1>
    </div>
    {{ wtf.quick_form(form) }}
</div>

{% endblock %}


